{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

<div class="login_register_wrap_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl col-md-10">
                <div class="login_wrap">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>Reset Password</h3>
                        </div>
                        <div class="content">
                            <div class="message-flash">
                                {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}

                            </div>
                        <h1>Reset your password</h1>
                    
                        {{ form_start(requestForm) }}
                            {{ form_row(requestForm.email) }}
                            <div>
                                <small>
                                    Enter your email address and we will send you a
                                    link to reset your password.
                                </small>
                            </div>
                    
                            <button class="btn btn-primary">Send password reset email</button>
                        {{ form_end(requestForm) }}
                        </div>
                        
                        <div class="form-note text-center">Tu n'as pas de compte et tu souhaites t'inscrire ? Pas de soucis, c'est par là <a href="{{ path('app_register') }}">📩</a> </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
