<head>
  <link rel="stylesheet" href="{{ asset('css/footer.css') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<br>
<br>
<br>
<br>

<footer class="container-fluid bg-light, margin 30px" style="display: inline-block;">
 
<br>
<br>


<br>
<br>

<!-- Footer -->



</nav>


<section class="footer-newsletter">
      <div class="newsletter newslettersignupform parbase"><h4 class="footer-heading">INSCRIPTION</h4>
        <br>
<p class="text" style="font-size: 30px;"><a href=" {{ path('app_register') }} ">Devenez membre</a> &amp; obtenez -10%</p>
</section>
</div>
<br>
<br>
  <ul class="footer-social footer-content" style="list-style: none; display: flex; flex-direction: wrap; padding: 20px; margin: 20px">
  <li class="item">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" title="Facebook" class="hidden-text icon icon-social-facebook-white">
        <img src="{{ asset('upload/images/icons/facebook.png') }}" alt="Cart" title="Cart" style="height: 60px;">
      </a></li> 
      &nbsp; &nbsp; &nbsp; &nbsp;
      <li class="item">
        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" title="Twitter" class="hidden-text icon icon-social-twitter-white">
          <img src="{{ asset('upload/images/icons/twitter.png') }}" alt="Cart" title="Cart" style="height: 60px;">
        </a>			
      </li>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <li class="item">
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" title="Instagram" class="hidden-text icon icon-social-instagram-white">
          <img src="{{ asset('upload/images/icons/instagram.png') }}" alt="Cart" title="Cart" style="height: 60px;">
        </a>
      </li>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <li class="item">
        <a href="http://www.youtube.com/" title="Youtube" target="_blank" rel="noopener noreferrer" class="hidden-text icon icon-social-youtube-white">
          <img src="{{ asset('upload/images/icons/youtube.png') }}" alt="Cart" title="Cart" style="height: 60px;">
        </a>
      </li>
      &nbsp; &nbsp; &nbsp; &nbsp;
  <li class="item">
          <a href="https://www.pinterest.com" target="_blank" rel="noopener noreferrer" title="Pinterest" class="hidden-text icon icon-social-pinterest-white">
            <img src="{{ asset('upload/images/icons/pinterest.png') }}" alt="Cart" title="Cart" style="height: 60px;">
        </a>
      </li>
  </ul>
</li>
<br>
<p class="text js-footer-truncate truncated-text">
      <i style="font-size: 20px;">Le contenu de ce site est protégé par la loi du copyright et appartient à Shop'ta'shoe. Le concept du groupe Shop'ta'Shoe est de proposer des shoes au meilleur prix</p>
      </i> 
</footer>