<head>
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">

</head>

{% block body %}
<div class="product-item text-center">
    <a href="{{ path('produits', { 'slug' : product.slug }) }}"><img src="{{ asset('upload/images/products/'~ product.image) }}" alt="{{ product.name }}" class="img-fluid" style="height: 300px; width: 300px"></a>
    <h5>{{ product.name }}</h5>
    <span class="product-subtitle">{{ product.description|raw }}</span>
    <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
</div>

{% endblock %}