<head>
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">

</head>

{% block body %}
<div class="product-item text-center">
    <a href="{{ path('produits', { 'slug' : product.slug }) }}"><img src="{{ asset('upload/images/products/'~ product.image) }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid"></a>
    <h5>{{ product.name }}</h5>
    {# <span class="product-subtitle">{{ product.description|raw }}</span> #}
    <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
    <hr style="color: rgb(255, 0, 212); height: 20px"><br><br><br>
</div>

{% endblock %}